
.name
{
    float: left;
    background: #4aaaa5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ebebeb;
    font-size: 28px;
    padding: 44px;
    margin-left: 25px;
    font-weight: 600;

}

nav
{ 
    height: 110px;
    border: 3px solid #777777;
    background: #ebebeb;
}

nav ul
{ 
    text-decoration: none;
    
    
    }
a{
    text-decoration: none;
    color: #777;
    font: weight 600;
    
}
    
li
    { list-style: none;
     font-size: 28px;
    background:#ebebeb;
    float: right;
    padding: 20px;
   margin:25px;
    
  
    }

section
{  display: inline-block;
     background: #ffffff;
    border-style: solid;
    margin-left:100px;
    width:85%;
    clear:both;
   
    
}

h2{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4aaaa5;
    font-size: 28px;
    padding: 4px;
    margin-left: 0px;
    font-weight: bold;

}


hr
{clear: both;
margin:10px;

}

footer
{ background: #666666;
border-style: solid;
border:5px solid #4aaaa5;
height: 60px;
color: white;
text-align:center;
margin:25px;
font-weight: bold;
font-size: 15px;
}

label
{
float:left;
clear:left;
Margin: 5px;
}
textarea
{ float:left;
    clear:left;
    width:75%;
margin: 5px;
border: 1px solid;
}

button
{clear:both;
float: left;
margin: 5px;
background: #4aaaa5;
color: #ebebeb;
height: 50px;
width: 75px;
font-size: 12px;}

@media only screen and (max-width: 980px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width: 768px) {
    body {
      background-color: rgb(2, 50, 66);
    }
  }

  
  @media only screen and (max-width: 640px) {
    body {
      background-color: rgb(13, 158, 224);
    }
    
    header
    {
        position:static;
    }
  }